{% extends "index.html" %}
{% load static %}
{% block title %}Register{% endblock title %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Register Your Account</h1>
    <form method="post" action="/signup/" class="shadow p-4 rounded bg-light">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Enter your username" required>
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">Password</label>
            <input type="password" id="password1" name="password1" class="form-control" placeholder="Enter your password" required>
        </div>
        <div class="mb-3">
            <label for="fname" class="form-label">First Name</label>
            <input type="text" id="fname" name="fname" class="form-control" placeholder="Enter your First Name" required>
        </div>
        <div class="mb-3">
            <label for="lname" class="form-label">Last Name</label>
            <input type="text" id="lname" name="lname" class="form-control" placeholder="Enter your Last Name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter your Email Address" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Sign Up</button>
    </form>
</div>
{% endblock %}
